<%- include('header.ejs') -%>

<style>

    .checkbox{
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #f8f7f7;
    border: 5px solid #fff;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .checkbox:checked{
    background: linear-gradient(140deg, #E54860 0%, #9556BA 40%, #555FFF 98%);
    }

    .checkbox::before{
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(check.png);
    background-size: contain;
    background-repeat: no-repeat;
}
</style>

<!-- ==========Banner-Section========== -->
    <section class="details-banner hero-area bg_img seat-plan-banner" data-background="assets/images/banner/banner04.jpg">
        <div class="container">
            <div class="details-banner-wrapper">
                <div class="details-banner-content style-two">
                    <h3 class="title">Venus</h3>
                    <div class="tags">
                        <a href="#0">City Walk</a>
                        <a href="#0">English - 2D</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Banner-Section========== -->
<form action="movie_seat_plan" method="post">
    <!-- ==========Page-Title========== -->
    <section class="page-title bg-one">
        <div class="container">
            <div class="page-title-area">
                <div class="item md-order-1">
                    <a href="movie_details" class="custom-button back-button">
                        <i class="flaticon-double-right-arrows-angles"></i>back
                    </a>
                </div>
                <div class="item date-item">
                    <!-- <span class="date">MON, SEP 09 2020</span> -->
                    <span class="date"><input type="date" name="book_date"  class="date_input"></span>
                </div>
                <div class="item date-item">
                    <select class="select-bar" name="movie_time">
                        <option>09:40</option>
                        <option>13:45</option>
                        <option>15:45</option>
                        <option>19:50</option>
                    </select>
                </div>
                <div class="item">
                    <h5 class="title">05:00</h5>
                    <p>Mins Left</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Page-Title========== -->

    <!-- ==========Movie-Section========== -->
    <div class="seat-plan-section padding-bottom padding-top">
        <div class="container">
            <div class="screen-area">
                <h4 class="screen">screen</h4>
                <div class="screen-thumb">
                    <img src="assets/images/movie/screen-thumb.png" alt="movie">
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area">
                        <li class="seat-line">
                            <span>G</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(0)" name="G1" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(1)" name="G2" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(2)" name="G3" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(3)" name="G4" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(4)" name="G5" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(5)" name="G6" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(6)" name="G7" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(7)" name="G8" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(8)" name="G9" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(9)" name="G10" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(10)" name="G11" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(11)" name="G12" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(12)" name="G13" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(13)" name="G14" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>G</span>
                        </li>
                        <li class="seat-line">
                            <span>f</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(14)" name="F1" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(15)" name="F2" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(16)" name="F3" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(17)" name="F4" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(18)" name="F5" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free">
                                            <!-- <img src="assets/images/movie/seat01-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(19)" name="F6" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free">
                                            <!-- <img src="assets/images/movie/seat01-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(20)" name="F7" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(21)" name="F8" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(22)" name="F9" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(23)" name="F10" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free">
                                            <!-- <img src="assets/images/movie/seat01-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(24)" name="F11" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free">
                                            <!-- <img src="assets/images/movie/seat01-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(25)" name="F12" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free">
                                            <!-- <img src="assets/images/movie/seat01-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(26)" name="F13" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat01.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(27)" name="F14" value="120" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>f</span>
                        </li>
                    </ul>
                </div>
                <h5 class="subtitle">silver plus</h5>
                <div class="screen-wrapper">
                    <ul class="seat-area couple">
                        <li class="seat-line">
                            <span>e</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(28)" name="E(1,2)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(29)" name="E(3,4)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(30)" name="E(5,6)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(31)" name="E(7,8)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(32)" name="E(9,10)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(33)" name="E(11,12)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(34)" name="E(13,14)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>e</span>
                        </li>
                        <li class="seat-line">
                            <span>d</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(35)" name="D(1,2)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(36)" name="D(3,4)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(37)" name="D(5,6)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-booked.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(38)" name="D(7,8)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(39)" name="D(9,10)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(40)" name="D(11,12)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(41)" name="D(13,14)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>d</span>
                        </li>
                        <li class="seat-line">
                            <span>c</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(42)" name="C(1,2)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(43)" name="C(3,4)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(44)" name="C(5,6)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(45)" name="C(7,8)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(46)" name="C(9,10)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(47)" name="C(11,12)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(48)" name="C(13,14)" value="400" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>c</span>
                        </li>
                        <li class="seat-line">
                            <span>b</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(49)" name="B(1,2)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(50)" name="B(3,4)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(51)" name="B(5,6)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(52)" name="B(7,8)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(53)" name="B(9,10)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(54)" name="B(11,12)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat">
                                            <!-- <img src="assets/images/movie/seat02.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(55)" name="B(13,14)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>b</span>
                        </li>
                        <li class="seat-line">
                            <span>a</span>
                            <ul class="seat--area">
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(56)" name="A(15,16)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(57)" name="A(17,18)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(58)" name="A(19,20)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(59)" name="A(21,22)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(60)" name="A(23,24)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                                <li class="front-seat">
                                    <ul>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(61)" name="A(25,26)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                        <li class="single-seat seat-free-two">
                                            <!-- <img src="assets/images/movie/seat02-free.png" alt="seat"> -->
                                            <input type="checkbox" class="sheet checkbox" onchange="book_ticket(62)" name="A(27,28)" value="500" style="height: 45px; width: 45px;">
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <span>a</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="proceed-book bg_img" data-background="assets/images/movie/movie-bg-proceed.jpg">
                <div class="proceed-to-book">
                    <div class="book-item">
                        <span>You have Choosed Seat</span>
                        <!-- <h3 class="title" id="select_seat" name="seat_no"></h3> -->
                        <!-- <input type="text" class="title" name="" id="select_seat"> -->
                        <input type="text" name="seat_no" id="select_seat" class="title">
                    </div>
                    <div class="book-item">
                        <span>total price</span>
                        <!-- <h3 class="title" id="amount" name="total_price"></h3> -->
                        <input type="text" name="total_price" id="amount" class="title">
                    </div>
                    <div class="book-item">
                        <!-- <button class="custom-button" onclick="confirm_ticket()">proceed</button>    -->
                        <input type="submit" value="proceed" class="custom-button" onclick="confirm_ticket()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>    

    <!-- ==========Movie-Section========== -->

   
    <script>

        const book_sheet = [];
        var count = 0;

        function book_ticket(k)
        {
            var total_sheet = document.getElementsByClassName('sheet')[k];
            var total_sheet1 = document.getElementsByClassName('sheet')[k].name;
            var price = document.getElementsByClassName('sheet')[k].value;

            // console.log('price');
            // console.log(price);

        if(total_sheet.checked==true)
        {
           if(!book_sheet.includes(total_sheet1))
           {
            book_sheet.push(total_sheet1);

            count = count+parseInt(price);

            var a = document.getElementById('select_seat').value=book_sheet;
            document.getElementById('select_seat').innerText=a
            // document.getElementsByClassName('sheet')[k].style.opacity="70%";


            var b = document.getElementById('amount').value=count;
            document.getElementById('amount').innerText=b

           }
        }
        else
        {
            if(book_sheet.includes(total_sheet1))
            {
                const index = book_sheet.indexOf(total_sheet1);
                const x = book_sheet.splice(index, 1)

                count = count-parseInt(price);
                // console.log("count");
                // console.log(count);
                
                var a = document.getElementById('select_seat').value=book_sheet;
                document.getElementById('select_seat').innerText=a

                
                var b = document.getElementById('amount').value=count;
                document.getElementById('amount').innerText=b
            }    
        }

        }


        function confirm_ticket()
        {
        // //    sessionStorage.setItem("array",JSON.stringify(book_sheet));

        //     // var book_seet = book_sheet.toString();
          

        //     window.location = "http://localhost:3000/movie_book"+book_sheet;
             
        }
    </script>


<!-- <style>
    .helo{
        filter: opacity(50);
    }
</style> -->

<%- include('footer.ejs') -%>
